body {
    padding-top: 0px;
    padding-bottom: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.container {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
.loading {
    width: 200px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
}
.card-content {
    margin-bottom: 30px;
}

.pag-buttons {
    display: flex;
    justify-content: flex-end;
}
    .pag-buttons .btn {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
    .pag-buttons .btn:last-child {
        margin-left: 5px;
    }
    @media(max-width:780px){
        .pag-buttons {
            display: flex;
            justify-content: center;
        }
        .container {
            padding-left: 15px !important;
            padding-right: 15px !important;
        }
        .pag-buttons .btn {
            width:50%;
        }
    }