<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Set this youre clientid and client secret from https://devportal.jamendo.com-->
  <!--This is my test configuration-->
  <appSettings>
    <add key="ClientId" value="fd603513"/>
    <add key="ClientSecret" value="d7ed5a56654f79d7a796314f1f199501"/>
  </appSettings>
</configuration>