
@{
    ViewBag.Title = "О нас";
}
<h2>О нас</h2>
<p>&nbsp;&nbsp;<b>SoundBox</b>- это многофункциональный музыкальный сервис который роботает с Jamendo Api. Это Api представляет бесплатную музыку, которую можна послушать, скачать.<br />&nbsp;&nbsp;Сервис представляет сборник музыки который можна найти и узнать которая музыка подходит именно тебе!</p>

